input.small {
        width: 60px;
}

input.large {
        width: 500px;
        max-width: 100%;
}

.jls_citation-custom-fields label {
        display: block;
        font-weight: bold;
        margin-bottom: .15em;
}

.jls_citation-custom-fields input {
        margin-right: .25em;
}

#citation_type_input label {
        display: inline-block;
        margin-right: 1em;
}

#citation_type_input {
        padding: 1.5em 0;
        margin-bottom: 1.5em;
        border-bottom: 1px dashed #CCC;
}

.field_wrap {
        margin-bottom: 1em;
}

.field_wrap {
        display: inline-block;
        padding-right: 3px;
        max-width: 100%;
}

.author_groups .field_wrap, .co_author_groups .field_wrap,
.field_wrap.select_field {
        display: block;
        padding-right: 0;
}

.ajax-loader {
        position: absolute;
        width: 24px;
        height: 24px;
        background: url(../img/pacman-ajax-loader.gif) center no-repeat;
        display: inline-block;
        margin-left: 1em;
}

.repeatable_fields {
        margin: 1.5em 0;
        padding: 1.5em 0 .5em;
        border-top: 1px dashed #CCC;
        border-bottom: 1px dashed #CCC;
}

.add_item.button {
        margin-bottom: 1em;
}


.remove_item {
        display: inline-block;
        text-align: center;
        padding: 0 1px 1px 0;
        margin: 0 3px;
}

.remove_item {
        width: 16px;
        height: 16px;
        font-size: 16px;
        line-height: 16px;
        border-radius: 16px;
        color: #ababab;
        border: 1px solid #ababab;
        text-align: center;
        padding: 0 1px 1px 0;
        margin: 0 3px;
        font-weight: bold;
        background: #FFF;
}

.remove_item:hover {
        cursor: pointer;
        -moz-box-shadow: 1px 1px 2px 1px #ccc;
        -webkit-box-shadow: 1px 1px 2px 1px #ccc;
        box-shadow: 1px 1px 2px 1px #ccc;
}

.remove_item:active {
        outline: 0;
        cursor: pointer;
        -moz-box-shadow: inset -1px -1px 1px 1px #ccc;
        -webkit-box-shadow: inset -1px -1px 1px 1px #ccc;
        box-shadow: inset -1px 0 1px 1px #ccc;

}

.remove_item:hover {
        color: #cd1717;
}

#edit-slug-box, .hidden {
        display: none;
}